<!DOCTYPE html>
<html>
<head>
    <title>Audio Detection</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>

<div class="navbar">
    <div class="logo">FAKE DETECT</div>
    <div class="nav-links">
        <a href="/image">Image Detect</a>
        <a href="/video">Video Detect</a>
        <a href="/audio" class="active">Audio Detect</a>
        <a href="/link">Link Detect</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="detect-page">
    <div class="detect-wrapper">
        <div class="detect-left">
            <h1>Detect DeepFake Audio</h1>
            <p>Upload your audio file for AI-powered voice manipulation analysis.</p>
        </div>
        <div class="detect-right">
            <div class="upload-card">
                <form method="POST" action="/detect-audio" enctype="multipart/form-data">
                    <div class="file-box">
                        <input type="file" name="audio" accept=".mp3,.wav" required>
                    </div>

                    <button class="btn" type="submit">Analyze Audio</button>

                    <div class="helper">
                        Supported formats: WAV, MP3, M4A
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
