{% extends "base.html" %}

{% block title %}Select Detection{% endblock %}

{% block content %}

<div class="select-container">
    <h1 class="main-title">Choose Detection Type</h1>

    <div class="options">

        <a href="/image" class="option-card">
            <h3>Image Detection</h3>
            <p>Upload an image to check if it is real or deepfake</p>
        </a>

        <a href="/video" class="option-card">
            <h3>Video Detection</h3>
            <p>Upload a video and analyze frame-by-frame</p>
        </a>

    </div>
</div>

{% endblock %}